@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'mobile-menu';

@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'gallery';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $body-color;
    display: flex;
    flex-direction: column;
}

* {
    color: $font-color-extra;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
    color: $accent-color;
    text-align: center;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

.main {
    flex: 1 0 auto;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $background-color;
    border-left: 1px dotted $accent-color;
    border-right: 1px dotted $accent-color;
}

.header,
.footer {
    flex: 0 0 auto;
    background-color: $header-color;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted $accent-color;
}

/* Title */

.title,
.logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
        height: 10px;
    }
}

.logo {
    height: 200px;
    width: auto;
    padding-left: 2em;
}

.title * {
    color: $font-color-extra;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted $accent-color;
}

.footer a {
    color: $accent-color-extra;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-color;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2em;
}

.meimg {
    height: 500px;
    padding-left: 40%;
}

.nav a {
    color: $font-color-extra;
}

img,
embed,
object,
video {
    max-width: 100%;
}


iframe {
    width: 100%;
    max-height: 500px;
    min-height: 280px;
}
