.grid {
    display: grid;
}

.grid {
    gap: 1em 1em;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 700px;
}

.not-side {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    max-width: 95%;
}

.side-bar {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    min-width: 150px;
}


.landingpage {
    width: 100%;
}

.landingpage h1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    justify-self: center;
}

.landingpage div {
    justify-self: center;
    justify-content: center;
    width: 100%;
}

.landingpage p {
    text-align: center;
}

.css {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: $accent-color;
}

.git {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    background-color: $header-color;
}

.html {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background-color: $accent-color-extra;
}

.javascript {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    background-color: $accent-color;
}

.php {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    background-color: $header-color;
}

.python {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    background-color: $accent-color-extra;
}

.sqlite {
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    background-color: $accent-color;
}

@media screen and (max-width: 960px) {
    .not-side {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
        
    }

    .side-bar {
        grid-column: 1 / 2;
        grid-row: 4 / 3;
        justify-self: center;
    }
    
    .side-bar li {
        display: inline-block;
        font-size: 20px;
        padding: 20px;
    }
}
