$background-color: #84c6e6;
$font-color: #000;
$header-color: #3a5766;
$accent-color: #6699b3;
$accent-color-extra: #cbe0ea;

$background-alternative-color: #2b4766;
$font-alternative-color: #fff;
$header-alternative-color: #1561b3;
$accent-alternative-color: #0d3b6b;
$accent-alternative-color-extra: #1c7de6;
