$background-color: #f7f8f5;
$font-color: #3a3a3a;
$font-color-extra: #222;
$body-color: #eceae7;
$header-color: #b49ca6;
$accent-color: #c77895;
$accent-color-extra: #e4c4cb;

$background-alternative-color: #2b4766;
$font-alternative-color: #fff;
$header-alternative-color: #1561b3;
$accent-alternative-color: #0d3b6b;
$accent-alternative-color-extra: #1c7de6;
